* { box-sizing: border-box; padding: 0; margin: 0; color: #1d2e38; }

.flex { display: flex; justify-content: center; align-items: center; max-width: 68rem; margin: auto; min-height: 80vh; }
.flex div { width: 50%; height: auto; }
.content { padding: 3rem; margin-bottom: 10rem; }

.mapdiv { max-width: 80%; margin-left: auto; margin-right: auto; }
.mapdiv svg { max-width: 100%; max-height: 42rem; }

path { fill: #4aceed; stroke: #ffffff; stroke-width: 2px; transition: fill 0.2s; }
path:hover { fill: #fff64d; cursor: pointer; }
g path:hover { fill: #4aceed; cursor: default; }

@media screen and (max-device-width: 576px) {
  hr.divi { margin: 1rem auto; }
  .flex { flex-direction: column; }
  .flex div { width: 100%; }
  .content { text-align: center; padding: 0 2rem; margin-bottom: 0; }
  .mapdiv { max-width: 100%; }
  .mapdiv svg { max-width: 85%; max-height: 90vh; margin: auto; display: block; }
}